<!DOCTYPE html>
<html>
   <head>
      <title>Welcome here</title>
   </head>
   <body>
      <h1><%=  @user.first_name%></h1>
      <p>You are registered successfully, hope you are enjoying</p>
   </body>
</html>
