<!DOCTYPE html>
<html>
   <head>
      <title>hey there!</title>
   </head>
   <body>
      <h1>hey there! wanna try <%=@recipe.title%></h1>
       <div>
          <%= @recipe.content%> - <%= @recipe.ingredients%>
       </div>
   </body>
</html>
